{% extends 'admin_base.html' %}
{% block content %}
<section class="section" id="our-classes">
	<div class="container">
	<h1>Under Develop</h1>
	<!-- <h3>Add new your Car</h3>
		<div class="form-group">
			<input  type="text" class="form-control" id="role" name="role" placeholder="Model">
		  </div>

		  <div class="form-group">
			  <input  type="text" class="form-control" id="department" name="department" placeholder="Color">
			</div>
			
		  <div class="form-group">
			  <input  type="text" class="form-control" id="username" name="username" placeholder="Price">
			</div>
		  
			<div class="form-group">
			  <input  type="text" class="form-control" id="address" name="address" placeholder="Grade">
			</div>
		  
		  <div class="form-group">
			  <input  type="text" class="form-control" id="phone" name="phone" placeholder="Car Type">
			</div>

		<div class="form-group">
				<input  type="text" class="form-control" id="phone" name="phone" placeholder="Engine Power">
			  </div>

		<div class="form-group">
				<input  type="text" class="form-control" id="phone" name="phone" placeholder="Tax Price">
			  </div>
  
		<div class="form-group">
				  <input  type="text" class="form-control" id="phone" name="phone" placeholder="Car Type">
				</div>

			<div class="form-group">
			<input type="file" id="myFile" name="filename">
		  </div>  
		<button class="" type="submit">Add New Car</button>
		<br />  
		<br />  
		<br />  
		<div id="details"></div>   -->
	</div>
</section> 
{% endblock %}
