{% extends 'admin_base.html' %}
{% block content %}
<section class="section" id="our-classes">
	<div class="container">
    <h3>Update your Car</h3>
		<div class="form-group">
			<!-- <label for="email">Role:</label> -->
			<input  type="text" class="form-control" id="role" name="role" placeholder="Model">
		  </div>

		  <div class="form-group">
			  <!-- <label for="email">Department:</label> -->
			  <input  type="text" class="form-control" id="department" name="department" placeholder="Color">
			</div>
			
		  <div class="form-group">
			  <!-- <label for="email">Username:</label> -->
			  <input  type="text" class="form-control" id="username" name="username" placeholder="Price">
			</div>
		  
			<div class="form-group">
			  <!-- <label for="email">Address:</label> -->
			  <input  type="text" class="form-control" id="address" name="address" placeholder="Grade">
			</div>
		  
		  <div class="form-group">
			  <!-- <label for="email">Phone No:</label> -->
			  <input  type="text" class="form-control" id="phone" name="phone" placeholder="Car Type">
			</div>

		<div class="form-group">
				<!-- <label for="email">Phone No:</label> -->
				<input  type="text" class="form-control" id="phone" name="phone" placeholder="Engine Power">
			  </div>

		<div class="form-group">
				<!-- <label for="email">Phone No:</label> -->
				<input  type="text" class="form-control" id="phone" name="phone" placeholder="Tax Price">
			  </div>

			<div class="form-group">
			<!-- <label for="pwd">Password:</label> -->
			<input type="file" id="myFile" name="filename">
			<!-- <input type="password" type="password" class="form-control" id="password" name="password" placeholder="Password"> -->
		  </div>  
		<button class="" type="submit">Update Car Informations</button>
		<br />  
		<br />  
		<br />  
		<div id="details"></div>  
	</div>
</section> 
{% endblock %}
