{% extends 'base.html' %}
{% block content %}
<!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Cars</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
            {% for i in row %}
                <div class="col-lg-4">
                        <div class="trainer-item">
                                <img src="{{i[8]}}" alt="">
                           
                            <div class="down-content">
                                <span>
                                    <del><sup>$</sup>{{i[3]}} </del> &nbsp; <sup>$</sup>{{i[3]}}
                                </span>

                                <h4>{{i[1]}}</h4>

                                <p>
                                    <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
                                </p>

                                <ul class="social-icons">
                                    <li><a href="car-details.html">+ View Car</a></li>
                                </ul>
                            </div>
                        </div>
                </div> 
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
{% endblock %}