{% extends 'admin_base.html' %}
{% block content %}

<section class="login_box_area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form action="/view_update" method="POST">
            <div class="col-md-3 form-group"></div>
            <div class="col-md-6 form-group">
		             <h2>Sales Your Car</h2>
	               <!-- <select name="menu_name"> -->
                   <!-- <option>Choose Menu Name</option> -->
		                  {% for i in rows %}
                               <!-- <option class="form-control" id="model" name="model" value="{{i[0]}}">{{i[0]}}</option> -->
                               <!-- <input  style="width: 100px" type="text" class="form-control" id="model" name="model" value="{{i[0]}}"> -->
                               <button class="form-group" type="submit"  class="form-control" id="model" name="model" value="{{i[0]}}">{{i[0]}}</button>
		                  {% endfor %}
	                <!-- </select><br><br> -->
	                    <!-- <input type="submit" value="Edit"> -->
                  </div>
                <div class="col-md-3 form-group"></div>
                </form>
                </div>
                <div class="col-lg-3"></div>
              </div>
            </div>
{% endblock %}
