{% extends 'base.html' %}
{% block content %}
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="static/image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Sign Up
					</span>
					<form class="row login_form" action="/signup" method="POST" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
						<div class="form-group">
						  <!-- <label for="email">Role:</label> -->
						  <input  type="text" class="form-control" id="role" name="role" placeholder="Role">
						</div>

						<div class="form-group">
							<!-- <label for="email">Department:</label> -->
							<input  type="text" class="form-control" id="department" name="department" placeholder="Department">
						  </div>
						  
						<div class="form-group">
							<!-- <label for="email">Username:</label> -->
							<input  type="text" class="form-control" id="username" name="username" placeholder="Username">
						  </div>
						
						  <div class="form-group">
							<!-- <label for="email">Address:</label> -->
							<input  type="text" class="form-control" id="address" name="address" placeholder="Address">
						  </div>
						
						<div class="form-group">
							<!-- <label for="email">Phone No:</label> -->
							<input  type="text" class="form-control" id="phone" name="phone" placeholder="Phone No">
						  </div>

						  <div class="form-group">
						  <!-- <label for="pwd">Password:</label> -->
						  <input type="password" type="password" class="form-control" id="password" name="password" placeholder="Password">
						</div>
						<div class="container-login100-form-btn m-t-20">
							<button class="login100-form-btn">
								Sign up
							</button>
						</div>

					<div class="text-center">
						<span class="txt1">
							existing account?
						</span>

						<a href="/login" class="txt2 hov1">
							Login
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>
{% endblock %}
